@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #6538AE;
    --black: #000;
    --wt: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* sideBar CSS */

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--main-color);
    padding: 6px 14px;
    z-index: 1000;
    transition: all 0.5s ease;
    color: var(--wt);
}

.sideBar .menu-bars {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.sideBar .logo .profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 15px;
}

.sideBar .logo .profile .details {
    padding-left: 10px;
}

.sideBar .menu-bars #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sideBar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sideBar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sideBar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sideBar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sideBar li i {
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    border-radius: 12px;
    color: var(--wt);
}

/* Hidden NavBar */

.logo .menu-icon {
    color: var(--wt);
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}


.nav .sidebar-hid {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: var(--main-color);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.nav.open .sidebar-hid {
    left: 0;
}

.sidebar-hid .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 1px 4px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #e540f4;
}

.nav-link .icon {
    margin-right: 10px;
    font-size: 14px;
    color: var(--wt);
}

/* link-1 */
.content-1 {
    margin-top: 0px;
    display: none;
    transition: all 0.5s ease-out;
}

/* level-1 */
.list .nav-link-1 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4px 0px;
    padding: 0px 25px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link-1:hover {
    background-color: #be40f4;
}

.nav-link-1 .icon {
    margin-right: 10px;
    font-size: 10px;
    color: var(--wt);
}

.nav-link-1 .link-1 {
    font-size: 14px;
    color: var(--wt);
}

/* level-2 */

.list .nav-link-2 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4px 0px;
    padding: 0px 40px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-link-2 .icon {
    margin-right: 10px;
    font-size: 10px;
    color: var(--wt);
}

.nav-link-2 .link-1 {
    font-size: 14px;
    color: var(--wt);
}

/* level-3 */

.list .nav-link-3 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 4px 0px;
    padding: 0px 50px;
    border-radius: 8px;
    text-decoration: none;
}

.nav-link-3 .icon {
    margin-right: 10px;
    font-size: 10px;
    color: var(--wt);
}

.nav-link-3 .link-1 {
    font-size: 14px;
    color: var(--wt);
}


.nav-link .link {
    font-size: 14px;
    color: var(--wt);
    font-weight: 300;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}


/* Header CSS */

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.0rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
}

.header .icons {
    display: flex;
    flex-direction: row;
}

.header .icons .hi{
    font-size: 15px;
}


.header .logo i {
    color: var(--main-color);
}

.content {
    display: none;
    z-index: 1000;
    width: 200px;
    flex-direction: column;
    margin-right: 20px;
    background: #11AE0E;
    float: right;
    box-shadow: 1px 3px 9px rgb(171, 169, 169);
    transition: all 0.5 ease-in-out;
}

.content .imgpro {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    background: #C6A5FB;
}

.content .prodet {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: var(--wt);
}

.content .prodet .set1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Title Btn CSS */

.titbtn {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin-left: 80px;
    margin-top: 80px;
}

.titbtn h3 {
    font-size: 25px;
    font-weight: 400;
}

/* Application CSS */

.records .record-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.records .record-header .browse button {
    margin: 3px;
    padding: 0.5px 6px;
    border-radius: 4px;
    border: 1px solid rgb(212, 211, 211);
}


/* Table CSS */

.table-responsive {
    width: 80%;
    overflow: auto;
    margin-left: 100px;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
}


tr:nth-child(even) {
    background-color: #FFD177;
}

tr:nth-child(odd) {
    background-color: #FBDDA3;
}

table thead th {
    padding: 10px 3px;
    text-align: center;
    color: var(--wt);
    font-size: 1rem;
    background: #FFA031;
    font-weight: 400;
    border: 0.8px solid rgb(115, 115, 115);
}

table thead th:first-child {
    padding-left: 1rem;
}

table tbody td {
    padding: 4px 5px;
    color: #444;
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    border: 1px solid #ddd;
}

table tbody td:first-child {
    padding-left: 1rem;
    font-weight: 600;
    font-size: .9rem;
}

.paid {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    color: var(--wt);
    background: #6538AE;
    padding: .3rem 0.6rem;
    border-radius: 10px;
    font-size: .7rem;
}

.pre-Nxt {
    margin: 15px;
}

.pre-Nxt button a{
    padding: 2px 6px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.pre-Nxt button a:hover {
    color: var(--wt);
}

.pre-Nxt button:hover {
    background-color: #444;
    border: 1px solid #444;
    color: var(--wt);
}



@media only screen and (max-width: 768px) {
    table {
        width: 900px;
    }
}


@media (max-width: 847px) {

    .sideBar {
        width: 70px;
    }

}

@media (max-width: 627px) {

    .titbtn {
        align-items: center;
        flex-direction: column;
    }

    .titbtn .stitle {
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 585px) {
    .records .record-header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}



@media (max-width: 500px) {
    .table-responsive {
        margin-left: 75px;
    }
    .titbtn {
        margin-left: 55px;
    }
    .header .logo i {
        display: none;
    }
    .header .icons .hi{
        font-size: 15px;
    }

}


@media (max-width: 388px) {
    .sideBar {
        width: 60px;
        padding: 5px 8px;
    }

    .content {
        margin-top: 70px;
    }


}