@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --main-color: #6618E4;
    --black: #000;
    --wt: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* sideBar CSS */

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--main-color);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    color: var(--wt);
}

.sideBar .menu-bars {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
}

.sideBar .menu-bars #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sideBar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sideBar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sideBar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sideBar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sideBar li i {
    height: 50px;
    line-height: 50px;
    font-size: 23px;
    border-radius: 12px;
    color: var(--wt);
}

/* Hidden NavBar */

.logo .menu-icon {
    color: var(--wt);
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}


.nav .sidebar-hid {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: var(--main-color);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.nav.open .sidebar-hid {
    left: 0;
}

.sidebar-hid .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}

.sidebar-content .list {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 4px 0;
    padding: 10px 4px;
    border-radius: 8px;
    text-decoration: none;
}

.lists .nav-link:hover {
    background-color: #e540f4;
}

.nav-link .icon {
    margin-right: 10px;
    font-size: 14px;
    color: var(--wt);
}

.nav-link .link {
    font-size: 14px;
    color: var(--wt);
    font-weight: 300;
}

.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

/* Header CSS */

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.0rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
}






/* TopBar CSS */

header {
    position: fixed;
    right: 0;
    top: 0;
    left: 85px;
    z-index: 100;
    height: 60px;
    background: var(--wt);
    transition: left 300ms;
}

.header-content,
.header-menu {
    display: flex;
    align-items: center;
}

header .menu-right {
    display: none;
}

.header-content {
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: 1.1rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .5rem;
    font-weight: 500;
}

.notify-icon.email span:last-child {
    background: #18e470;
}

.notify-icon.notify span:last-child {
    background: #e41822;
}

.user {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.menu {
    padding: 10px;
    margin-left: 3px;
    font-size: 23px;
}

.header-content .search-form {
    background: #fff;
    width: 30rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transform-origin: top;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0px #353535;
}

.header-content .search-form input {
    height: 100%;
    width: 100%;
    font-size: .8rem;
    border: none;
    padding: 1rem;
    text-transform: none;
}

.header-content .search-form label {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header-content .search-form label:hover {
    color: var(--main-color);
}

/* ButtonBar CSS */

section {
    margin-left: 20px;
    padding: 2rem 5%;
}

.main .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .1rem 0.6rem;
    font-size: 1.1rem;
    color: #fff;
    background: #e4b418;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #e4b418;
    box-shadow: 1px 1px 4px 0px #353535;
}

.buttonBar {
    min-height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    padding: 40px;
    background-position: center;
}

.sims {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.sims .heading h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
}

.sims .boxes {
    display: flex;
    flex-wrap: wrap;
}

.sims .boxes .box {
    display: flex;
    width: 233px;
    height: 85px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
    background-color: var(--main-color);
}

.sims .boxes .box .cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: #e4b118;
}

.sims .boxes .box .cont .desc {
    font-size: 0.8rem;
}

.sims .boxes .box .cont .num {
    font-size: 1.5rem;
    font-weight: bold;
}









@media (max-width: 847px) {
    header {
        left: 90px;
    }

    .sideBar {
        width: 70px;
    }

    .header-content .search-form {
        width: 20rem;
        margin-right: 5px;
    }
}

@media (max-width: 722px) {
    header {
        left: 70px;
    }

    .header-content .search-form {
        width: 18rem;
    }

}

@media (max-width: 660px) {
    header .menu-right {
        display: flex;
        font-size: 28px;
        float: right;
        margin-right: 20px;
        padding: 15px;
        justify-content: flex-end;
    }

    .header-content {
        flex-direction: column;
        display: none;
    }

    #header-content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 1rem;
        transition: all 3.5s ease-in-out;
        background-color: #fff;
    }

    .main .btn {
        font-size: 1rem;
    }

}

@media (max-width: 410px) {
    .buttonBar {
        flex-direction: column;
    }
}

@media (max-width: 388px) {
    .sideBar {
        width: 60px;
        padding: 5px 8px;
    }

    .header-content .search-form {
        width: 15rem;
    }

    .header-menu label span,
    .notify-icon span:first-child {
        font-size: 1.1rem;
    }

    .header-menu label,
    .header-menu .notify-icon {
        margin-right: 1.5rem;
    }

    .name {
        font-size: 10px;
    }

    .sims .boxes .box {
        align-items: center;
        justify-content: center;
        height: 150px;
        flex-direction: column;
    }


}

@media (max-width: 331px) {

    .header-content .search-form {
        width: 13rem;
    }

    .sims .boxes .box {
        height: 200px;
    }


}